<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196094245485-9bfo3jhol9sn3d6777ik7dv1e4d4blgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196094245485-9bfo3jhol9sn3d6777ik7dv1e4d4blgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>196094245485-r511vqjaq6ffg85mn2ou0df4c7i1po93.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9TA7SLsxv6TVNJXksiRB9LZ6Rc_YpDf8</string>
	<key>GCM_SENDER_ID</key>
	<string>196094245485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venturesflstudio.curbRadar</string>
	<key>PROJECT_ID</key>
	<string>curbradar-6d8f0</string>
	<key>STORAGE_BUCKET</key>
	<string>curbradar-6d8f0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196094245485:ios:52d0432036ad42d5e01d64</string>
</dict>
</plist>